services:
  backend:
    build:
      container_name: personalwebsite-backend
      context: .
      dockerfile: Dockerfile.backend
    env_file: ../.env
    ports:
      - "8001:8001"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  frontend:
    container_name: personalwebsite-frontend
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3001:3001"
    depends_on:
      - backend
    networks:
      - app-network
networks:
  app-network: