#just-line-break {
  white-space: pre-line;
}

.project-container {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

.project-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 24px;
  flex-grow: 1;
  max-width: 700px;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card .ant-card-body {
  padding: 75px;
}

.project-card iframe {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ant-btn-link {
  color: #1890ff;
  font-weight: 500;
}

.ant-btn-link:hover {
  color: #40a9ff;
}

.masonry-grid {
  display: flex;
  gap: 24px;
  margin: 0 auto;
}

.masonry-grid_column {
  display: flex;
  flex-direction: column;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    align-items: center; /* Center cards */
  }

  .project-card {
    width: 100%; /* Make each card take full width */
    max-width: 400px; /* Optional: Limit card width */
  }
}

