/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001529;
  padding: 5px 10px;
  height: 56px;
}

.logo-container {
  cursor: pointer;
}

.logo-text {
  font-size: 20px;
  color: #ffffff;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Large Screen Menu */
.ant-menu-dark {
  background-color: #001529;
  color: #fff;
}

.ant-menu-dark .ant-menu-item {
  color: #fff;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff;
  color: #fff;
}

.ant-menu-dark .ant-menu-item:hover {
  background-color: #1890ff;
  color: #fff;
}

.menu-drawer {
  .ant-drawer-body {
    background-color: #ffffff;
    padding: 0;
  }
}

.menu-drawer .ant-menu {
  background-color: #ffffff;
  border-right: none;
}

.menu-drawer .ant-menu-item {
  color: #000000;
}

.menu-drawer .ant-menu-item:hover {
  background-color: #e6f7ff;
  color: #1890ff;
}

.menu-drawer .ant-menu-item-selected {
  background-color: #e6f7ff;
  color: #1890ff;
}

.custom-header .logo-text {
  color: #ffffff;
  align-items: 'center';
  margin: 0;
}

@media (max-width: 768px) {
  .custom-header {
    padding: 5px 10px;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }

  .custom-header .logo-text {
    font-size: 25px;
    color: #ffffff;
    align-items: 'center';
    margin: 0;
  }

  .header-actions {
    gap: 10px;
  }
}
